<h1>Welcome to my World! Wide! Web! Page!</h1>
<h3>Enjoy the Ride!!! mwa ha ha aha uhhh </h3>

<div>
<img src='./images/profilepicresized.jpeg' alt='pic of me'>
<div class='introDiv'>
  <h1>Welcome to my professional profile page!</h1>
  <p>Here is my page where is will continue to add new features as my skills grow as a programer.
    For now I will place some filler text here work on the more important pages of this site such as my resume and my projects.
  </p>
</div>

</div>