





<div class='projectDiv'>

<a href='http://bit.ly/JSfighter'><h2>JS Fighter</h2></a>

<div class='picBorder'>
<img class='picSize' src='./images/JS-screenshot2.png' alt='ryu image'>


<img class='picSize' src='./images/JS-screenshot.png' alt='ryu image'>
</div>

<div>
  One player fighting game simulator. User controls Player One against a simulated AI cpu opponent. User must defeat CPU in fighting match.
  </div>
<b>Technologies Used:</b> JavaScript, CSS, HTML, Canvas


<br>
<br>

<a href='https://video-game-review-site.herokuapp.com'><h2>Video Game Review Site</h2></a>

<div class='picBorder'>
<img class='picSize' src='./images/VGR-screenshot.png' alt='VGR image'>
<img class='picSize' src='./images/VGR-screenshot2.png' alt='VGR Image'>
  </div>

<div>
This project is a CRUD app allowing the user to create a signup, login, add games, and reviews, and the ability to delete games, reviews or users.
</div>
<b>Technologies Used:</b> JavaScript, Node.js, MongoDB, Mongoose, Express.js, Passport.js, HTML, SASS, Bootstrap, Heroku


<br>
<br>
 <a href='http://thegymfleux.surge.sh/'><h2>#gymfleux</h2></a>
<div class='picBorder'>
<img class='picSize' src='./images/gymfleux-screenshot.png' alt='VGR image'>
<img class='picSize' src='./images/gymfleux-screenshot2.png' alt='VGR Image'>
  </div>

 <div>
This project is a MERN app where users can sign up and assign exercises from a custom api to there daily routine.
</div>
<b>Technologies Used:</b> JavaScript, Node.js, MongoDB, Mongoose, Express.js, React.js, Passport.js, HTML, SASS, Bootstrap, Surge

<br>

  </div>