<h1>MY RESUME</h1>

<div class='resumeBorder resumeBackground resume-back'>

<div class='resumeHead'>

<h2 class="textCenter">
Travis E. Grubbs
</h2>

<h3 class='textCenter'>
Fort Lauderdale, FL | (318) 820-3144 | travisgrubbs87@yahoo.com
</h3>

<h3 class='textCenter'>
<a href='linkedin.com/in/travis-grubbs'>linkedin.com/in/travis-grubbs</a> | <a href='github.com/T-Grubbs'>github.com/T-Grubbs</a>
</h3>
</div>


<div class='resumeDiv'>

<h4>
Summary
</h4>

For the past 8 years I have been working for AT&T where I started of as an inbound tech support call agent and eventually transferred to field tech. I developed passion for troubleshooting and resolving issues, but wanted to get more into the backend side of technology, which inspired me to join Ironhack for full-time web development. 
<br>
<br>
<b>Technical Skills:</b> JavaScript, React, Express.js, MongoDB, Node.js, HTML, CSS, SCSS, jQuery, Responsive Design, Bootstrap, Git, GitHub.

</div>

<br>

<div class='resumeDiv'>
  <h4>Projects</h4>
<a href='http://bit.ly/JSfighter'>JS Fighter</a> - <a href='http://bit.ly/JSfighter'>http://bit.ly/JSfighter</a>
<br>
One player fighting game simulator. User controls Player One against a simulated AI cpu opponent. User must defeat CPU in fighting match.
<br>
<b>Technologies Used:</b> JavaScript, CSS, HTML, Canvas
<br>
<br>
<a href='https://video-game-review-site.herokuapp.com'>Video Game Review Site</a> - <a href='https://video-game-review-site.herokuapp.com'>https://video-game-review-site.herokuapp.com</a>
<br>
This project is a CRUD app allowing the user to create a signup, login, add games, and reviews, and the ability to delete games, reviews or users.
<br>
<b>Technologies Used:</b> JavaScript, Node.js, MongoDB, Mongoose, Express.js, Passport.js, HTML, SASS, Bootstrap, Heroku
<br>
<br>
<a href='http://thegymfleux.surge.sh/'>#gymfleux</a> - <a href='http://thegymfleux.surge.sh/'>http://thegymfleux.surge.sh/</a>
<br>
This project is a MERN app where users can sign up and assign exercises from a custom api to there daily routine.
<br>
<b>Technologies Used:</b> JavaScript, Node.js, MongoDB, Mongoose, Express.js, React.js, Passport.js, HTML, SASS, Bootstrap, Surge

</div>


<div class="resumeDiv">
<br>
<br>
<h4>Professional Experience</h4>
<br>
<h5>Full-Stack Web Developer (Student)            					         Oct 2018 - Dec 2018 </h5>
<b>Ironhack	    										            Miami, FL</b>
<br>
Ironhack is an immersive bootcamp offering 9-week courses in Full-Stack Web Development. (400+ hours)
<br>
<b>Technologies Learned:</b> JavaScript, jQuery, Bootstrap, React.js, Express.js, Node.js, MongoDB, HTML, CSS, Git.
<br>
<br>
<h5>Wire Technician		                                                                                                            June 2010 - Oct 2018</h5>
<b>AT&T                                                                                                                                   Shreveport, LA - Miami, FL</b>
<br>
Service installation which includes wiring copper, coax, and fiber from service poles, wiring home for services.
Troubleshoot and resolve network issues
Work with other techs to complete large installs.


</div>


<div class='resumeDiv'>
  <br>
  <br>
 <h4>Education</h4>
 <br>
<h5>Ironhack - Miami, FL							                       Oct 2018 - Dec 2018</h4>
Full Stack Web Development (400+hours)
<br>
<br>
<h5>Bossier Parish Community College - Bossier City, LA                              Aug 2006 - Dec 2008</h5>
Telecommunications: TV Production AS
</div>


<div class='bottomPad'>
  </div>








</div>